.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .counter {
    font-size: 1.5rem;
    font-weight: bold;
  }

  button {
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem;
  }
}